<!DOCTYPE html>
<html>
  <head>
    <title>MyPetReport</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin-bottom: 20px;
      }
      .logo {
        width: 50px;
        height: 50px;
      }
      .title {
        margin-left: 8px;
        font-size: 18px;
        font-weight: bold;
      }
      .period {
        margin-bottom: 20px;
        font-size: 14px;
      }
      .content-title {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th {
        background-color: orange;
        color: white;
        border: 1px solid black;
        padding: 8px;
      }
      td {
        border: 1px solid black;
        padding: 8px;
      }
      .footer {
        text-align: center;
        font-size: 12px;
      }
      .total {
        text-align: left;
        margin-left: 10px;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="content-title">
          <img
            class="logo"
            src="https://raw.githubusercontent.com/daviaquino87/MyPet-API/realese/homolog/.github/img/image.jpg"
            alt="Logo"
          />
          <span class="title">MyPet</span>
        </div>
        <div>
          <span class="period"><%= period %></span>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Preço</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <% spendings.forEach(spending => { %>
          <tr>
            <td><%= spending.id %></td>
            <td><%= spending.price %></td>
            <td><%= spending.date %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="total"><b>Total:</b> <%= total %></div>
      <div class="footer">
        <b>myPet@2023</b>
      </div>
    </div>
  </body>
</html>
